.main-background {
  width: 375px;
  height: 650px;
  background-image: url(background.png);
}

body {
  background: #f7f7f9;
}

.menu-placeholder {
  width: 40px;
  height: 35px;
  top: 10px;
  left: 80px;
  padding: 8px;
  margin-left: 175px;
}

.menu {
  width: 35px;
  height: 4px;
  background-color: #6070ff;
  margin: 3px;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}

@import url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2);

h1 {
  width: 76px;
  height: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #6070ff;
}

.logo-placeholder {
  width: 120px;
  height: 45px;
  display: flex;
  top: 4px;
  left: 20px;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  width: 375px;
  height: 48px;
  top: 44px;
}

.headline {
  display: flex;
  width: 375px;
  height: 604px;
  top: 92px;
  gap: 12px;
}

.headlinetext {
  width: 327px;
  height: 450px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 120px;
  margin-left: 20px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #172b4d;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.image1 {
  display: flex;
  justify-self: left;
  width: 19.99px;
  height: 19.96px;
}

.image2 {
  width: 20px;
  height: 20px;
  top: 470px;
  left: 63px;
}

.image3 {
  width: 20px;
  height: 16px;
  top: 472px;
  left: 103px;
}

.image4 {
  width: 17.99px;
  height: 20px;
  top: 470px;
  left: 143px;
}

.image5 {
  width: 14.17px;
  height: 20px;
  top: 470px;
  left: 180px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 170.99px;
  height: 19.96px;
  align-items: baseline;
}
